.skills-container {
  display: flex;
  flex-wrap: nowrap; /* prevent wrapping */
  justify-content: center;
  gap: 40px;
  padding: 20px 40px;

}
.skill-item {
  text-align: center;
  padding: 10px;
  flex: 0 0 auto; /* prevent shrinking */
}

.skill-item img {
  max-width: 80px;
  height: auto;
  margin-bottom: 10px;
}

/* Tablet Screens (≤ 768px) */
@media (max-width: 768px) {
  .skills-container {
    gap: 30px;
    padding: 20px;
  }

  .skill-item img {
    max-width: 70px;
  }
}

/* Mobile Screens (≤ 480px) */
@media (max-width: 480px) {
  .skills-container {
    gap: 20px;
    padding: 10px;
  }

  .skill-item img {
    max-width: 60px;
  }

  
}
